#f{
    color: rgb(95, 177, 28);
    font-size: 50px;
    font-weight: 600;
}
.hero{
    #f{
        font-size: 70px;
    }
}
.fruits{
    height: 650px;
}
.w{
    color: white;
    p{
        color: rgb(207, 207, 207);
        line-height: 40px;
    }
}
.l{
    width: 100px;
}
.g{
    color: rgb(95, 177, 28);
    font-size: 20px;
}
hr{
    color: orange;
    font-weight: bold
}
.contact{
    height: 600px;
    background-color: rgb(66, 81, 74);
    h1{
        color: rgb(95, 177, 28);
    }
    a{
        color: rgb(95, 177, 28);
    }
}
.no{
    background-color: rgb(66, 81, 74);
}